video,
#social,
#blank {
  display: none;
}

#grid-container {
  height: 230vh;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows:
    1fr /*    logo  &  nav */
    4fr /*    image */
    0.25fr /* menu */
    0.75fr /* subscribe */
    5fr /*    main */
    0.5fr; /* footer */

  grid-template-areas:
    "logo nav"
    "image image"
    "menu menu"
    "subscribe subscribe"
    "main main"
    "footer footer";
}
