body {
  background-color: papayawhip;
  margin-top: 5vw;
  margin-bottom: 5vw;
  background-image: url("resources/background.avif");
}
.center-text {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
#grid-container {
  display: grid;
}
#grid-container > :not(.margin) {
  background-color: rgb(255, 239, 213, 0.8);
  padding-left: 1vw;
  padding-right: 1vw;
}
#grid-container > :not(#menu) {
  padding-top: 1vw;
}
#grid-container > :not(#image, #menu) {
  padding-bottom: 1vw;
}

#left-margin {
  grid-area: margin-l;
}
#right-margin {
  grid-area: margin-r;
}
header {
  grid-area: header;
}
#logo-container {
  grid-area: logo;
}
nav {
  grid-area: nav;
}
#nav-margin {
  grid-area: nav-margin;
}
aside {
  grid-area: aside;
}
#blank {
  grid-area: blank;
}
#image {
  grid-area: image;
}
#menu {
  grid-area: menu;
}
#subscribe > img {
  grid-area: subscribe-icon;
}
#subscribe > p {
  grid-area: subscribe-text;
}
#subscribe-margin-top {
  grid-area: subscribe-top;
}
#subscribe {
  grid-area: subscribe;
}
#subscribe-margin-bottom {
  grid-area: subscribe-bottom;
}
#main {
  grid-area: main;
}
#footer-margin-top {
  grid-area: footer-top;
}
footer {
  grid-area: footer;
}
#footer-margin-bottom {
  grid-area: footer-bottom;
}
#legal {
  grid-area: legal;
}
#footer-margin-middle {
  grid-area: footer-middle;
}
#social-media {
  grid-area: social;
}
#logo {
  margin: 10%;
  height: 80%;
  width: 80%;
}
#image {
  margin: 0;
  display: inline-block;
  position: relative;
}
#image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#main {
  display: grid;
}
#main > div {
  background-color: rgb(255, 255, 255, 0.75);
}

header {
  background-color: rgb(255, 239, 213, 0.75);
}
#main > div {
  border: 0.1vw solid black;
  margin: 0.5vw;
  padding: 0.5vw;
}

.caption {
  position: absolute;
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
#shortcap {
  background-color: rgb(255, 255, 255, 0.75);
}
#longcap {
  background-color: rgb(0, 100, 0, 0.75);
  color: white;
}
#inline-credit {
  background-color: rgb(255, 255, 255, 0.75);
  bottom: 5%;
  right: 1vw;
  font-size: 1vw;
}
#block-credit {
  text-align: right;
  font-size: 1.5vw;
}

.nav-icon {
  margin: auto;
}
.nav-icon > img {
  display: block;
}
#nav-container {
  display: grid;
  text-align: center;
}
*:not(footer) a {
  text-decoration: none;
  color: initial;
}
*:not(footer) a:hover {
  text-decoration: underline;
}

#menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
.menu-item:nth-child(2n) {
  background-color: rgb(0, 100, 0, 0.85);
}
.menu-item:nth-child(2n + 1) {
  background-color: rgb(48, 148, 48, 0.85);
}
.menu-item div {
  color: white;
}
.menu-item:hover {
  background-color: lightgreen;
}
.menu-item:hover div {
  color: black;
}
aside {
  overflow-y: auto;
}

@keyframes flashing-text {
  0% {
    color: red;
  }
  50% {
    color: green;
  }
  100% {
    color: red;
  }
}

.flashing {
  animation: flashing-text 2s infinite;
  text-align: center;
}

#subscribe {
  border-top: 1px dotted black;
  display: grid;
  border-bottom: 1px dotted black;
}
#subscribe > * {
  margin: auto;
}
form {
  grid-area: form;
}

footer {
  display: grid;
  grid-template-areas:
    "footer-top    footer-top"
    "legal         social"
    "footer-bottom footer-bottom";
}
#legal {
  text-align: center;
}
#social-media {
  text-align: right;
}
