body {
  background-color: papayawhip;
  margin-top: 24pt;
}

#grid-container {
  display: grid;
  /* grid-gap: 2px;
  background-color: brown;
  padding: 2px; */
}

#grid-container > * {
  background-color: papayawhip;
  text-align: center;
}
#left-margin {
  grid-area: margin-l;
}
#right-margin {
  grid-area: margin-r;
}
header {
  grid-area: header;
}
#logo {
  grid-area: logo;
}
nav {
  grid-area: nav;
}
aside {
  grid-area: aside;
}
#blank {
  grid-area: blank;
}
#image {
  grid-area: image;
}
#menu {
  grid-area: menu;
}
#subscribe {
  grid-area: subscribe;
}
#main {
  grid-area: main;
}
#footer {
  grid-area: footer;
}

#logo {
  background-color: brown;
  margin: 10%;
  border-radius: 50%;
}
#image {
  margin: 0pt;
  display: inline-block;
  position: relative;
}
#image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#main {
  display: grid;
}

#main > div {
  border: 1pt solid black;
  margin: 6pt;
  padding: 6pt;
}

.caption {
  position: absolute;
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  opacity: 0.66;
}
#shortcap {
  background-color: white;
}

#longcap {
  background-color: brown;
  color: white;
}

.nav-icon {
  margin: auto;
}
.nav-icon > img {
  display: block;
}
nav {
  margin-left: 12pt;
  margin-right: 12pt;
}
nav > ul {
  padding-inline-start: 0;
  display: grid;
}
nav li {
  display: grid;
}
nav li:hover {
  background-color: cyan;
  border-radius: 25%;
}
a {
  text-decoration: none;
  color: initial;
}
