body {
  background-color: papayawhip;
  margin: 12pt;
}

#grid-container {
  display: grid;
  grid-gap: 2px;
  background-color: brown;
  padding: 2px;
}

#grid-container > * {
  background-color: papayawhip;
  text-align: center;
}
header {
  grid-area: header;
}
#logo {
  grid-area: logo;
}
nav {
  grid-area: nav;
}
aside {
  grid-area: aside;
}
#blank {
  grid-area: blank;
}
#image {
  grid-area: image;
}
#menu {
  grid-area: menu;
}
#subscribe {
  grid-area: subscribe;
}
#main {
  grid-area: main;
}
#footer {
  grid-area: footer;
}

#image {
  margin: 0pt;
  display: inline-block;
  position: relative;
}

#image > img {
  width: 100%;
  object-fit: contain;
}

#main {
  display: grid;
}

#main > div {
  border: 1pt solid black;
  margin: 12pt;
  padding: 6pt;
}

.caption {
  position: absolute;
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  opacity: 0.66;
}
#shortcap {
  background-color: white;
}

#longcap {
  background-color: brown;
  color: white;
}

nav {
  align-items: center;
}
nav > ul {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.nav-icon,
.nav-icon > img {
  height: 40px;
  width: 40px;
}

nav li {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  text-align: left;
}
