video,
aside,
#blank,
.logo-margin,
#block-credit {
  display: none;
}

#grid-container {
  height: 150vw;
  grid-template-columns: 1fr 80vw 1fr;
  grid-template-rows:
    20vw /*  header */
    48vw /*  image */
    1fr /* menu */
    1fr /* margin */
    2fr /* subscribe */
    1fr /* margin */
    8fr /*  main */
    2fr; /* footer */

  grid-template-areas:
    "margin-l header    margin-r"
    "margin-l image     margin-r"
    "margin-l menu      margin-r"
    "margin-l subscribe-top margin-r"
    "margin-l subscribe margin-r"
    "margin-l subscribe-bottom margin-r"
    "margin-l main      margin-r"
    "margin-l footer    margin-r";
}
header {
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-template-areas: "logo nav";
}

#shortcap {
  font-size: 2.5vw;
  bottom: 22%;
}
#longcap {
  font-size: 2vw;
  bottom: 15%;
}

nav {
  font-size: 1.8vw;
  margin-top: auto;
  margin-bottom: auto;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-areas: "nav-margin nav";
}
#nav-container {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#nav-container > a {
  display: grid;
  gap: 8pt;
}
.nav-icon {
  height: 5vw;
  width: 5vw;
}

.menu-item {
  font-size: 14pt;
}

#subscribe {
  grid-template-columns: 60pt 3fr 1fr;
  grid-template-areas: "subscribe-icon subscribe-text form";
}
#subscribe > img {
  height: 34pt;
}
#subscribe > p {
  font-size: 13pt;
}

#main {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
