video,
aside,
#blank,
.logo-margin,
#block-credit {
  display: none !important;
}

#grid-container {
  height: 150vw;
  grid-template-columns: 1fr 90vw 1fr;
  grid-template-rows:
    20vw /*  header */
    54vw /*  image */
    2fr /* menu */
    1fr /* margin */
    3fr /*   subscribe */
    1fr /* margin */
    16fr /*   main */
    3fr; /*  footer */

  grid-template-areas:
    "margin-l header           margin-r"
    "margin-l image            margin-r"
    "margin-l menu             margin-r"
    "margin-l subscribe-top    margin-r"
    "margin-l subscribe        margin-r"
    "margin-l subscribe-bottom margin-r"
    "margin-l main             margin-r"
    "margin-l footer           margin-r";
}
header {
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-template-areas: "logo nav";
}

#shortcap {
  font-size: 2.5vw;
  bottom: 21.4%;
}
#longcap {
  font-size: 2vw;
  bottom: 15%;
}

nav {
  font-size: 2vw;
  margin-top: auto;
  margin-bottom: auto;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-areas: "nav-margin nav";
}
#nav-container {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#nav-container > a {
  display: grid;
  text-align: center;
  gap: 1vw;
}
.nav-icon {
  height: 5vw;
  width: 5vw;
}

.menu-item {
  font-size: 1.9vw;
}

#subscribe {
  grid-template-columns: 3.4vw 2fr 1fr;
  grid-template-areas: "subscribe-icon subscribe-text form";
}
#subscribe > img {
  height: 3.4vw;
}
#subscribe > p {
  font-size: 1.75vw;
}
input {
  font-size: 1.35vw;
}

.social-icon {
  height: 3.2vw;
  width: 3.2vw;
}
footer {
  grid-template-columns: 30vw 1fr;
  grid-template-rows:
    1fr
    3.5vw
    1fr;
  font-size: 1.6vw;
}

#main {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.content {
  font-size: 1.65vw;
}
