video,
#social,
#blank,
#wide-image,
#narrow-image {
  display: none;
}

#grid-container {
  height: 180vh;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows:
    1fr /*    logo  &  nav */
    4fr /*    image */
    0.25fr /* menu */
    0.75fr /* subscribe */
    4.5fr /*  main */
    0.5fr; /* footer */

  grid-template-areas:
    "logo nav"
    "image image"
    "menu menu"
    "subscribe subscribe"
    "main main"
    "footer footer";
}

#main {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#shortcap {
  font-size: 24.5pt;
  bottom: calc(10% + 47px);
}

#longcap {
  font-size: 21pt;
  bottom: 10%;
}

#image > img {
  min-height: 66vh;
  max-height: 66vh;
}
