video,
#social,
#blank,
#menu,
#wide-image,
#medium-image {
  display: none;
}

#grid-container {
  height: 300vh;
  grid-template-rows:
    0.25fr /*  nav */
    0.75fr /*  logo */
    2fr /*     image */
    0.5fr /*  subscribe */
    8fr /*     main */
    0.5fr; /* footer */
  grid-template-areas:
    "nav"
    "logo"
    "image"
    "subscribe"
    "main"
    "footer";
}

#main {
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.caption {
  width: 100%;
  text-align: left;
  padding: initial;
}
#shortcap {
  font-size: 21pt;
  bottom: 29px;
}

#longcap {
  font-size: 18pt;
  bottom: 0%;
}
