video,
aside,
#blank,
#menu,
.nav-icon,
#nav-margin,
#inline-credit {
  display: none !important;
}

#grid-container {
  height: 500vw;
  grid-template-columns: 1fr 90vw 1fr;
  grid-template-rows:
    40vw /*    header */
    60vw /*    image */
    0.25fr /*   margin  */
    0.5fr /*  subscribe */
    0.25fr /*   margin  */
    20fr /*     main */
    0.25fr; /* footer */
  grid-template-areas:
    "margin-l header           margin-r"
    "margin-l image            margin-r"
    "margin-l subscribe-top    margin-r"
    "margin-l subscribe        margin-r"
    "margin-l subscribe-bottom margin-r"
    "margin-l main             margin-r"
    "margin-l footer           margin-r";
}

#main {
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
#main > div {
  margin: 3vw;
}

.caption {
  width: calc(100% - 2vw);
  text-align: left;
  padding-left: initial;
  padding-right: initial;
}
#shortcap {
  font-size: 3vw;
  bottom: 6.6%;
}
#longcap {
  font-size: 2.4vw;
  bottom: 0%;
}
header {
  display: grid;
  grid-template-columns: 1fr 35vw 1fr;
  grid-template-rows: 1fr 35vw;
  grid-template-areas:
    "nav nav nav"
    "margin-l logo margin-r";
}

nav {
  font-size: 4vw;
  border-bottom: 1px solid black;
}
#nav-container {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}

#subscribe {
  grid-template-columns: 4.5vw 1fr;
  grid-template-rows: 4.5vw 1fr;
  grid-template-areas:
    "subscribe-icon subscribe-text"
    "form form";
}
#subscribe > img {
  height: 4.5vw;
}
#subscribe > p {
  font-size: 2.5vw;
}
input {
  font-size: 2.2vw;
}

.social-icon {
  height: 4.2vw;
  width: 4.2vw;
}
footer {
  grid-template-columns: 38vw 1fr;
  grid-template-rows:
    1fr
    4.8vw
    1fr;
  font-size: 2.1vw;
}
.content {
  font-size: 2.6vw;
}