video,
aside,
#blank,
#menu,
.nav-icon {
  display: none;
}

#grid-container {
  height: 300vh;
  grid-template-columns: 1fr 80vw 1fr;
  grid-template-rows:
    56vw /*    header */
    60vw /*    image */
    0.5fr /*  subscribe */
    8fr /*    main */
    0.5fr; /* footer */
  grid-template-areas:
    "margin-l header margin-r"
    "margin-l image margin-r"
    "margin-l subscribe margin-r"
    "margin-l main margin-r"
    "margin-l footer margin-r";
}

#main {
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.caption {
  width: 100%;
  text-align: left;
  padding: initial;
}
#shortcap {
  font-size: 16pt;
  bottom: 20px;
}

#longcap {
  font-size: 12pt;
  bottom: 0;
}

header {
  display: grid;
  grid-template-columns: 1fr 40vw 1fr;
  grid-template-rows: 1fr 40vw;
  grid-template-areas:
    "nav nav nav"
    "margin-l logo margin-r";
}

nav {
  font-size: 18pt;
  margin-top: auto;
  margin-bottom: auto;
}
nav > ul {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

