video,
.logo-margin,
#block-credit {
  display: none !important;
}

#grid-container {
  height: 100vw;
  grid-template-columns: 1fr 20vw 70vw 1fr;
  grid-template-rows:
    42vw /*  header image */
    1fr /*   header  menu */
    0.5fr /* margin margin */
    1.5fr /* aside  subscribe */
    0.5fr /* aside margin */
    5fr /*   aside  main */
    5fr /*   blank  main */
    2fr; /*  footer footer */
  grid-template-areas:
    "margin-l header        image            margin-r"
    "margin-l header        menu             margin-r"
    "margin-l subscribe-top subscribe-top    margin-r"
    "margin-l aside         subscribe        margin-r"
    "margin-l aside         subscribe-bottom margin-r"
    "margin-l aside         main             margin-r"
    "margin-l blank         main             margin-r"
    "margin-l footer        footer           margin-r";
}

header {
  display: grid;
  grid-template-rows: 20vw 1fr;
  grid-template-areas:
    "logo"
    "nav";
}

#shortcap {
  font-size: 2vw;
  bottom: 21%;
}
#longcap {
  font-size: 1.5vw;
  bottom: 15%;
}

nav {
  font-size: 1.5vw;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-template-areas: "nav nav-margin";
}
#nav-container {
  margin: 0;
  height: 100%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
#nav-container > a {
  display: grid;
  grid-template-columns: 10vh 1fr;
  align-items: center;
  gap: 0.2vw;
}
.nav-icon {
  height: 3.6vw;
  width: 3.6vw;
}
.nav-text {
  text-align: left;
}
.menu-item {
  font-size: 1.4vw;
}

#subscribe {
  grid-template-columns: 2.85vw 2fr 1fr;
  grid-template-areas: "subscribe-icon subscribe-text form";
}
#subscribe > img {
  height: 2.85vw;
  width: 2.85vw;
}

#subscribe > p {
  font-size: 1.35vw;
}
input {
  font-size: 1.05vw;
}

.social-icon {
  height: 2.6vw;
  width: 2.6vw;
}
footer {
  grid-template-columns: 22vw 1fr;
  grid-template-rows:
    1fr
    2.9vw
    1fr;
  font-size: 1.2vw;
}

#main {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
