video,
.logo-margin {
  display: none;
}

#grid-container {
  height: 100vw;
  grid-template-columns: 1fr 20vw 70vw 1fr;
  grid-template-rows:
    42vw /*    header image */
    0.25fr /*   aside  menu */
    0.5fr /*  aside  subscribe */
    1.5fr /*  aside  main */
    1.5fr /*   blank  main */
    0.5fr; /* footer footer */
  grid-template-areas:
    "margin-l header image     margin-r"
    "margin-l header  menu      margin-r"
    "margin-l aside  subscribe margin-r"
    "margin-l aside  main      margin-r"
    "margin-l blank  main      margin-r"
    "margin-l footer footer    margin-r";
}

header {
  display: grid;
  grid-template-rows: 20vw 1fr;
  grid-template-areas:
    "logo"
    "nav";
}

#main {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#shortcap {
  font-size: 2.5vw;
  bottom: 18%
}

#longcap {
  font-size: 2vw;
  bottom: 10%;
}

nav {
  font-size: 14pt;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas: "nav nav-margin";
}
#nav-container {
  margin: 0;
  height: 100%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
#nav-container > a {
  display: grid;
  grid-template-columns: 10vh 1fr;
  align-items: center;
}

.nav-icon {
  height: 4vw;
  width: 4vw;
}

.menu-item {
  font-size: 16pt;
}

#subscribe {
  grid-template-columns: 72pt 2fr 1fr;
  grid-template-areas: "subscribe-icon subscribe-text form";
}
#subscribe > img {
  height: 36pt;
}

#subscribe > p {
  font-size: 14pt;
}
