video,
.logo-margin {
  display: none;
}

#grid-container {
  height: 100vw;
  grid-template-columns: 1fr 20vw 70vw 1fr;
  grid-template-rows:
    42vw /*    header image */
    0.5fr /*   aside  menu */
    0.75fr /*  aside  subscribe */
    1.75fr /*  aside  main */
    3fr /*   blank  main */
    0.75fr; /* footer footer */
  grid-template-areas:
    "margin-l header image     margin-r"
    "margin-l aside  menu      margin-r"
    "margin-l aside  subscribe margin-r"
    "margin-l aside  main      margin-r"
    "margin-l blank  main      margin-r"
    "margin-l footer footer    margin-r";
}

header {
  display: grid;
  grid-template-rows: 20vw 1fr;
  grid-template-areas:
    "logo"
    "nav";
}

#main {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#shortcap {
  font-size: 24pt;
  bottom: calc(10% + 31pt);
}

#longcap {
  font-size: 18pt;
  bottom: 10%;
}

nav {
  margin-left: auto;
  margin-right: auto;
}
nav > ul {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
nav li {
  grid-template-columns: 10vh 1fr;
  align-items: center;
}
